--extra-index-url https://download.pytorch.org/whl/cu118 --extra-index-url https://download.pytorch.org/whl/cu118
diffusers[torch]
transformers
decord
pytorch-lightning
omegaconf
nerfacc
trimesh
pyhocon
icecream
PyMCubes
accelerate
modelcards
einops
ftfy
piq
matplotlib
opencv-python
imageio
imageio-ffmpeg
scipy
pyransac3d
torch_efficient_distloss
tensorboard
rembg
segment_anything
gradio==4.31.5
kornia
fire